@import "../../vars.css";


.carouselContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75;
  text-transform: uppercase;
  margin-top: 50px;
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 400px;
  margin-top: 30px;
}

.slide {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px #666;
  width: 100%;
  height: 100%;
}

.slideHidden {
  display: none;
}

.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: white;
  filter: drop-shadow(0px 0px 5px #555);
}

.arrow:hover {
  cursor: pointer;
}

.arrowLeft {
  left: 1rem;
}

.arrowRight {
  right: 1rem;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
}

.indicator {
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}

.indicator-inactive {
  background-color: grey;
}

@media screen and (max-width: 830px) {

  .carouselContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .slide {
    border-radius: 0.5rem;
    max-width: 75%;
    height: auto;
  }

  .arrow {
    position: relative;
    width: 2rem;
    height: 2rem;
    color: white;
    filter: drop-shadow(0px 0px 5px #555);
  }
  
  .arrow:hover {
    cursor: pointer;
  }
  
  .arrowLeft {
    left: 2rem;
  }
  
  .arrowRight {
    right: 2rem;
  }

  .indicators {
    display: flex;
    position: absolute;
    bottom: 4rem;
  }
}
